.sign-up {
    background-image: url('images/art.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    border: 0 none;
}

.navbar {
    background-color: #008F95;

}

.navbar a {
    color: aliceblue
}