<!---Pitch display macro to pitch html-->

{% macro displayPitches(posts) %}
{% for pitch in posts %}
<div class="card mt-3">
    <div class="card-block">
        <h4 class="card-title mt-3 text-center">{{pitch.title|upper}}</h4>
        <div class="meta text-muted">
            <p> Catergory <a href="/category/{{pitch.category_id}}"><i><u>{{pitch.category.category}}</u></i> </a>
            </p>
        </div>
        <div class="card-text text-md-left mr-3 pr-3">
            <p class="mr-2">{{ pitch.pitch }}</p>
        </div>
    </div>
    <div class="card-footer">
        <p>Pitched by {{pitch.user.username|capitalize }}</p>
        <small>{{pitch.posted}}</small>
        <a href="/commented/{{pitch.id}}">
            <small>Commnet</small></a>
        <button class="btn btn-secondary float-right btn-sm">Like</button>
        <button class="btn btn-secondary float-right btn-sm">Dislike</button>
    </div>

</div>

{% endfor %}

{% endmacro %}
<!---End Pitch display macro-->


<!---Comment display macro commented-->

{% macro displayComments(comments) %}
{% for comment in comments %}
<div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
        <p>{{comment.comment}}</p>
        <footer class="blockquote-footer">
            <small class="text-muted">
                by <cite title="Source Title">{{comment.user.username}}</cite>
            </small>
        </footer>
    </blockquote>
</div>

{% endfor %}
{% endmacro %}
<!---End Comment display macro commented-->

<!--Marco display for pitch title in index-->
{% macro displayPitch(pitched) %}
{% for pitch in pitched %}
<a href="/commented/{{pitch.id}}">
    <div class="card m-2"
         style="width: 25rem; height:relative;">
        <div class="card-body m-auto">
            <h4 class="card-title display-4">{{pitch.title|upper}}</h4>
        </div>
    </div>
</a>
{% endfor %}
{% endmacro %}
<!--End Marco display for pitch title in index-->

<!--Macro for catergories in the index-->
{% macro displayCategory(categories) %}

{% for cat in categories %}

<div class="card card-outline-success mb-3 text-center">
    <div class="card-block">
        <a href="/category/{{cat.id}}">
            <h4 class="card-title display-4 text-center">{{cat.category|upper}}</h4>
        </a>

    </div>
</div>

{% endfor %}
{% endmacro %}
<!--End Macro for catergories-->


{% macro displayCat(cats) %}

{% for cat in cats %}
<div class="card p-4 mx-2"
     style="width: 15rem; height:relative;">
    <div class="card-block">
        <a href="/category/{{cat.id}}">
            <h4> {{ cat.category|upper }}</h4>
        </a>
    </div>
</div>

{% endfor %}
{% endmacro %}